@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Satisfy&display=swap');

body, html {
    height:100%;
    margin:0;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height:1.8em;
    color:#666;
    background-color: lightgray;

}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10, .pimg11, .pimg12, .pimg13{
    position:relative;
    opacity:1;
    background-position: center;
    
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.pimg1{
    background-image: url('./images/injinggggg.png');
    min-height: 100%;
}

.pimg2{
    
    
    min-height: 400px;
}

.middle {
    margin-left: 420px;
    
}

.pimg3{
    background-image: url('./images/angel.jpg');
    min-height: 900px;
}
.pimg4{
    background-image: url('./images/angel1.jpg');
    min-height: 900px;
}
.pimg5{
    background-image: url('./images/angel2.jpg');
    min-height: 900px;
}
.pimg6{
    background-image: url('./images/angel3.jpg');
    min-height: 900px;
}
.pimg7{
    background-image: url('./images/angel4.jpg');
    min-height: 900px;
}
.pimg8{
    background-image: url('./images/angel5.jpg');
    min-height: 900px;
}
.pimg9{
    background-image: url('./images/angel6.jpg');
    min-height: 900px;
}
.pimg10{
    background-image: url('./images/angel7.jpg');
    min-height: 900px;
}
.pimg11{
    background-image: url('./images/angel8.jpg');
    min-height: 900px;
}
.pimg12{
    background-image: url('./images/angel9.jpg');
    min-height: 900px;
}

.pimg13{
    background-image: url('/images/wesbg.png');
    min-height: 750px;
}

.section {
    text-align: center;
    padding:50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #000;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position:absolute;
    top:80%;
    width:100%;
    text-align: center;
    color:#000;
    font-size:27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}


.ptext .border {
    background-color: #111;
    color:#fff;
    padding:20px;
}

.ptext .border.trans{
    background-color: transparent;
}

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}